/home/martin/Dropbox/FIIT/BananaTV/wordpress/wp-content/plugins/zshl-registracia/*
idea/*
../adminimize/*
../custom-post-template
../zshl-registracia/*
../../../../BananaTV-RasPi-controller/.idea/
../../uploads/*

